[Desktop Entry]
Name=@@NAME_LONG@@
Comment=Read, review and commit
GenericName=Text Editor
Exec=@@EXEC@@ %F
Icon=@@ICON@@
Type=Application
StartupNotify=false
StartupWMClass=@@NAME_SHORT@@
Categories=TextEditor;Development;
MimeType=application/x-@@NAME@@-workspace;
Actions=new-empty-window;
Keywords=editor;git;markdown;vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=@@EXEC@@ --new-window %F
Icon=@@ICON@@
